@charset "UTF-8";

#article-container {
	padding-bottom:5rem;
}
#article-container .article-title {
	margin-bottom:1.75rem;
}
#article-container .article-info {
	padding-bottom:1.75rem;
}
#article-container .article-content {
	min-height:29vh;
}
#article-container .writer-profile {
	width:42px;height:42px;
	background-color:transparent;
	overflow:hidden;
	margin-right:0.625rem;
}
#article-container .writer-info {
	position:relative;
	top:2px;
}
#article-container .writer-nickname {
	margin-bottom:0.3rem;
}
#article-container .writer-count span {
	margin-right:0.3rem;
}
#article-container .writer-count span i {
	margin-right:0.25rem;
}
#article-container .article-content, #article-container .comment-content {
	color:#0d0d0d;
}
#article-container .article-file img {
	max-width:100%;
}
#article-container .article-like button {
	box-sizing:content-box;
}
#article-container .article-like i:before {
	margin-right:0.4rem;
}

#article-container #comment-list > li:last-of-type {
	border-bottom:none !important;
}
#article-container .cmtWriter-profile {
	width:27px;height:27px;
	background-color:transparent;
	overflow:hidden;
	margin-right:0.625rem;
}
#article-container .comment-mod-form {display:none;}

#article-container .comment-pagination-container a {
	color:var(--bs-gray-500);
	cursor:pointer;
}
#article-container .page-btn a:hover {
	color:tomato;
}
#article-container .page-list li a {
	display:inline-block;
	border-bottom:2px solid transparent;
}
#article-container .page-list li a.on {
	color:tomato;
	border-bottom:2px solid tomato;
}

/* articleForm */
#articleForm-container {
	min-height:75vh;
}
#updateFile, #deleteFile {display:none;}
#articleForm-container form > div {
	margin-bottom:0.75rem;
}
#articleForm-container .articleForm-preview {
	max-width:8.33%;
	max-height:8.33%;
}