@charset "UTF-8";

#board-container {
	min-height:70vh;
	padding-bottom:5rem;
}
#board-container .board-list-body {
	color:#000000;
}
#board-container .board-list-body:hover {
	background-color:var(--bs-gray-100);
}
#board-container .board-list-body > div {
	padding:0.625em 0;
}
#board-container .board-user {
	width:28px;height:28px;
	background-color:transparent;
	overflow:hidden;
	margin-right:0.6rem;
}
#board-container .board-comments {
	color:tomato;
}
#board-container .board-file {
	color:var(--bs-gray-500);
}
#board-container .board-file i:before {
	position:relative;
	top:1px;
}

#board-container .board-pagination-container a {
	color:var(--bs-gray-500);
}
#board-container .page-btn a:hover {
	color:tomato;
}
#board-container .page-list li a {
	display:inline-block;
	border-bottom:2px solid transparent;
}
#board-container .page-list li a.on {
	color:tomato;
	border-bottom:2px solid tomato;
}