/* visual */
.visual {
  position: relative;
}
.visual-bg {
  overflow:hidden;
  position: absolute;
  margin:0 auto;
  width:100%;
  height:100%;
  z-index:2;
}
.visual-bg:before {
  content:'';
  display:block;
  position:absolute;
  width:100%;
  height:100%;
  z-index:2;
  background: -webkit-linear-gradient(left, rgba(85,63,5,1) 0%, rgba(23,17,1,0) 50%, rgba(85,63,5,1) 100%);
  background: -o-linear-gradient(left, rgba(85,63,5,1) 0%, rgba(23,17,1,0) 50%, rgba(85,63,5,1) 100%);
  background: -ms-linear-gradient(left, rgba(85,63,5,1) 0%, rgba(23,17,1,0) 50%, rgba(85,63,5,1) 100%);
  background: linear-gradient(to right, rgba(85,63,5,1) 0%, rgba(23,17,1,0) 50%, rgba(85,63,5,1) 100%);
}
.visual-bg:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-color: rgba(3,1,21,0.7);
}
.visual-pattern {
  content:'';
  display:block;
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  background: url('../images/main/visual-pattern.png') repeat 0 0;
  z-index:1;
}
.visual-bg #visual-img {
  display:block;
  width:100%;
  -webkit-filter: blur(20px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(15px);
}
.visual .container {
  width:960px;
  position: relative;
  z-index:2;
}
.rank-title span {
  color:#ffffff;
  padding-bottom:5px;
  border-bottom: 2px solid #444444;
}
.rank-poster {
  width:320px;
  position:relative;
  overflow-x:hidden;
}
.rank-poster img {
  position:absolute;
  right:0;
  display:none;
  height:100%;
}
.rank-list a {
  text-decoration:none;
  color:#dddddd;
}
.rank-list a:hover .rank-list-con {
  background-color:rgba(255,255,255,0.15);
}
.rank-list a .rank-list-con .rank-up {color:rgb(199, 21, 21);}
.rank-list a .rank-list-con .rank-down {color:rgb(24, 54, 228);}

/* main-collection */
.main-collection {
  padding: 4rem 0;
}
.main-title {
  color:#0a0a0a;
}
.collection-container {
  margin-bottom:4rem;
}
.collection-slide-container {
  position:relative;
}
.collection-slide-list .slick-slide {
  /* 슬라이드 간격 설정 */
  margin:0 1.2rem;
}
.collection-slide-list .slick-list {
   /* .slick-slide 수치 음수로 쓰기 */
  margin:0 -1.2rem;
}
.collection-slide-list a {
  color:#0a0a0a;
}
.collection-slide-img {
  aspect-ratio:2/3; /* 이미지 비율 고정 */
  overflow-x:hidden;
  margin-bottom:0.75rem;
}
.collection-slide-arrows {
  position:absolute;
  top:44%;
  left:0;right:0;
  transform:translateY(-50%);
}
.collection-slide-arrows div {
  width:42px;
  height:42px;
  background-color:#fefefe;
  border:1px solid #f5f5f5;
  border-radius:50%;
  display:inline-block;
  position:absolute;
  cursor:pointer;
}
.collection-slide-arrows div i {
  opacity:.6;
  color:#555555;
}
.collection-slide-arrows div:hover i {
  opacity:1;
}

.collection-slide-arrows .prev-arrow {left:-2.4%;}
.collection-slide-arrows .next-arrow {right:-2.4%;}