@charset "UTF-8";

.movieInfoBox{	
	vertical-align : bottom;
	color:white;
	padding-bottom : 40px;
	position: absolute;
	bottom:30px;
	line-height:2em;
}
.movieInfoBox h1{
	margin-bottom: 5px;
	font-weight: 700;
}
.posterbox{
	width:"500px";
	height:"700px";
	margin:30px 30px 30px 0px;
}
.posterbox img{
	border-radius: 5px;
}

.movieInfoBox .movieLike {
	
}

.flex{
display: flex;
}
.toCenter{
margin : 0 auto;
text-align: center;
}
.down{
	vertical-align : bottom;
	margin-top:30px;
}
.movieOverview{
	color: rgb(140, 140, 140);
	font-weight: 500;
	white-space: pre-line;
	margin: 5px 0px 30px;
	line-height:25px;
	word-break:keep-all;
}
.star-text{
	margin: 10px 0px 5px 6px;
	color: rgb(140, 140, 140);
	font-size: 14px;
	line-height: 12px;
}	
.movieReviewH5{
	color: rgb(140, 140, 140);
	font-weight: 500;
	font-size:15px;
	margin: 5px 0px 15px;
	padding : 10px 0px 0px;
}
#reviewContent{
	padding: 0px 0px 20px;
	color:black;
}
.reviewBox{
	margin:0 auto;
	padding:15px 0;
}
.member-review-box{
	margin:0 auto;
	padding:15px 20px;
	overflow: hidden;
	border-radius: 6px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(227, 227, 227) !important;
    display: flex;
    justify-content:center;
    align-items: center;
}
#reviewContent{
	word-break: break-all;
	text-align: left;
	margin:auto 0;
	flex: 1 1 0%;
	padding: 20px 0px;
}
#reviewButton{
	padding-left:5px;
	margin-left:5px;
	color: rgb(140, 140, 140);
}
#reviewButton a{
	color: rgb(140, 140, 140);
	font-weight: 400;
}

.reviewCon{
	margin:20px 0px;
	min-height: 170px;
	max-height: 170px;
	overflow: scroll;
}
.reviewCon::-webkit-scrollbar {
    display: none; /* overflow 스크롤바 숨기기 */
}
.sm-font{
	font-size: 13px;
}
.middle-center{
	margin:auto 0;
	margin-left:5px;
}
.reviewLikeText{
	font-size: 17px;
	font-weight:600;
	color:#5326be;
}
.memberReviewList{
	color:rgb(31, 31, 31);
	font-weight: 400;
}
.emptyReviewBox{
	min-height: 340px;
	width:300px;
	margin:auto;
	line-height: 340px;
}
.rightplz{
	text-align: right;
	margin:auto;
}
.RatingForm{
	display: inline-block;
	text-align:center;
}
.detailButton{
	border:1px solid lightgrey;
	border-radius: 5px;
	padding:8px;
	margin-top:5px;
	font-size:14px;
	background-color: #6f34f8;
	color:white;
	border:1px solid #6f34f8;
}
#deleteDetailRatingButton, #hideDetailRatingButton{
	background-color:lightgrey;
	border:1px solid lightgrey;
}
.detailButton:hover{
	background-color:#5326be;
	border:1px solid #6f34f8;
}
#deleteDetailRatingButton:hover, #hideDetailRatingButton:hover{
	background-color:grey;
	border:1px solid grey;
}
#avgStarRatingSection{
	font-size:1.4em;
	margin-left:3px;
}
.avgStarRating-hover:hover{
	color:#6f34f8;
}

.written-button{
	color:#5326be;
	border:1px solid #5326be;
	border-radius: 0.2em;	
	margin:5px;
	padding:3px;
}
.review-box{
	border:1px solid lightgrey;
	border-radius: 10px;
}
#reviewContent hr{
	color:lightgrey;
}

/*----------------------------*/
 .modReviewModal { 
	 position:relative; 
	 z-index:1; 
	 display:none; 
 }
 .writeReviewModal { 
	 position:relative; 
	 z-index:1; 
	 display:none; 
 }
.modalBackground { 
	 position:fixed; 
	 top:0; 
	 left:0; 
	 width:100%; 
	 height:100%; 
	 background:rgba(0, 0, 0, 0.7); 
	 z-index:-1; 
 }
.modalContent { 
	 position:fixed; 
	 top:20%; 
	 left:calc(50% - 250px); 
	 width:550px; 
	 height:270px; 
	 padding: 1rem 1.5rem;
	 background:#fff; 
	 border-radius: 0.5rem;
 }
.modalContent textarea { 
	 font-size:16px; 
	 padding:10px; 
	 width:500px; 
	 height:200px; 
     background-color: #efefef;
     border-radius: 6px;
     border: 1px solid #dedede;
     margin-top: 3px;
     color: #3a3a3a;
 }
.modalContent input.modal_cancel { 
 	margin-left:5px; 
 }


.star {
  position: relative;
  font-size: 2rem;
  color: #ddd;
}

.star input {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

.star span {
  width: 0;
  position: absolute; 
  left: 0;
  color:#6f34f8;
  overflow: hidden;
  pointer-events: none;
}


#detailOSTForm fieldset{
    display: inline-block;
    direction: rtl;
    border:0;
}
#detailOSTForm fieldset legend{
    text-align: right;
}
#detailOSTForm input[type=radio]{
    display: none;
}
#detailOSTForm label{
    font-size: 2em;
    color: transparent;
    text-shadow: 0 0 0 #f0f0f0;
}
#detailOSTForm label:hover{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}
#detailOSTForm label:hover ~ label{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}
#detailOSTForm input[type=radio]:checked ~ label{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
 } 


#detailDirectionForm fieldset{
    display: inline-block;
    direction: rtl;
    border:0;
}
#detailDirectionForm fieldset legend{
    text-align: right;
}
#detailDirectionForm input[type=radio]{
    display: none;
}
#detailDirectionForm label{
    font-size: 2em;
    color: transparent;
    text-shadow: 0 0 0 #f0f0f0;
}
#detailDirectionForm label:hover{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}
#detailDirectionForm label:hover ~ label{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}
#detailDirectionForm input[type=radio]:checked ~ label{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
 }
 
 
 
#detailVisualForm fieldset{
    display: inline-block;
    direction: rtl;
    border:0;
}
#detailVisualForm fieldset legend{
    text-align: right;
}
#detailVisualForm input[type=radio]{
    display: none;
}
#detailVisualForm label{
    font-size: 2em;
    color: transparent;
    text-shadow: 0 0 0 #f0f0f0;
}
#detailVisualForm label:hover{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}
#detailVisualForm label:hover ~ label{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}
#detailVisualForm input[type=radio]:checked ~ label{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
 }
 
 

#detailActingForm fieldset{
    display: inline-block;
    direction: rtl;
    border:0;
}
#detailActingForm fieldset legend{
    text-align: right;
}
#detailActingForm input[type=radio]{
    display: none;
}
#detailActingForm label{
    font-size: 2em;
    color: transparent;
    text-shadow: 0 0 0 #f0f0f0;
}
#detailActingForm label:hover{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}
#detailActingForm label:hover ~ label{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}
#detailActingForm input[type=radio]:checked ~ label{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
 }
 
 
 
#detailStoryForm fieldset{
    display: inline-block;
    direction: rtl;
    border:0;
}
#detailStoryForm fieldset legend{
    text-align: right;
}
#detailStoryForm input[type=radio]{
    display: none;
}
#detailStoryForm label{
    font-size: 2em;
    color: transparent;
    text-shadow: 0 0 0 #f0f0f0;
}
#detailStoryForm label:hover{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}
#detailStoryForm label:hover ~ label{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}
#detailStoryForm input[type=radio]:checked ~ label{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
 }

#detailRatingForm{
	display : none;
}

#showDetailRatingButton{
	display : none;
}