@charset "UTF-8";

.like_btn.on {color:red; }

.like_btn {font-size : 1.5rem;}

div.modReviewModal { position:relative; z-index:1; display:none; }
 div.writeReviewModal { position:relative; z-index:1; display:none; }
 div.modalBackground { position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(0, 0, 0, 0.8); z-index:-1; }
 div.modalContent { position:fixed; top:20%; left:calc(50% - 250px); width:500px; height:250px; padding:20px 10px; background:#fff; border:2px solid #666; }
 div.modalContent textarea { font-size:16px; font-family:'나눔 고딕', verdana; padding:10px; width:500px; height:200px; }
 div.modalContent button { font-size:20px; padding:5px 10px; margin:10px 0; background:#fff; border:1px solid #ccc; }
 div.modalContent button.modal_cancel { margin-left:20px; }

  
  
  .moviePosterPath{
  	 aspect-ratio : 2/3;
	margin-right: 10px;
  }
  

  
  .li-header {
 	display: flex;
 	justify-content: space-between;
	border-bottom : none;
  	background-color : white;
}
	
	#movieNm {
		color :black;
		font-size : 1.5rem;
		font-weight : bold;
	}
	
	#movieNm a{
		color :black; 
	
	}
	.set-width{
		width : 800px;
	}
	.ReviewRating{
	color: #6f34f8;
	font-size : 18px;
	}
	
	.a font{
		font-size : 1rem;
	}
	.textright{
		text-align : right;
	}
	.text-lineheight{
		line-height : 140%;
	}
	
	